<div class=" container ">
<%= render "shared/users/user_signed_in" %>
Quelles sont les idées géniales qui devraient être présentes dans chaque école ?
L'école est comme une deuxième maison pour chaque enfant où les enseignants agissent comme des parents et où les élèves apprennent des leçons pratiques. Cependant, l'enseignant n'est pas le seul élément essentiel qui compose une école. Le bâtiment scolaire joue également un rôle majeur dans l'apprentissage. Nous aurions tous souhaité que l'école soit plus amusante. Alors laissez ces idées géniales vous montrer à quel point l'école peut être cool.
<%= render "shared/users/user_signed_up" %>
</div>
